{% extends "base.html" %}
{% load static%}

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <h2 class="home">Home</h2>
    <div class="container">
        <input type="button" class="centered-button" onclick="location.href='{%url 'match:matching'%}'" value="マッチング">

        <input type="button" class="centered-button" onclick="location.href='{%url 'match:memory'%}'" value="コレクション">

    </div>
</body>


{% endblock %}