{% extends "base.html" %}
{% load static%}

{% block main %}
<div class="my-div-style">
<head>
    <meta charset="UTF-8">
    <title>Collection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'worldmap.css' %}">
</head>
<body>
<div>
    <h2>Country</h2>
</div>
<div class="world_map">
    <img src="https://www.freemap.jp/itemDownload/world/world1/3.png" alt="world_map" style="width: 900px;">
</div>
<ul>
    <li><a href="{% url 'match:memory' %}">America</a></li>
    <li><a href="{% url 'match:memory' %}">France</a></li>
    <li><a href="{% url 'match:memory' %}">Germany</a></li>
    <li><a href="{% url 'match:memory' %}">Korea</a></li>
</ul>
</body>

</div>
{% endblock %}