.home {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 0;
}
.centered-button{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}