.Bobpic{
    width : 350px;
    height : 250px;
}
.header{
    background-color : gray;
    text-align: center;
}
.p{
    font-size : 20px;
    text-align: center;
}
.h1{
    background-color : gray;
    text-align: center;
}